body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-areas:
   'one two'
   'one two';
  grid-template-columns: 50%;
  grid-gap: 30px;
  padding: 10px;
  width: 100%;
  max-width: 1240px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.empty {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.empty svg {
  margin-right: 5px;
}

.card {
  width: 100%;
}

.card-body_show{
  display: none;
}

.card-text {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100px;
}

.card-checkbox{
  margin-right: 10px;
}
.top-list{
  display: none;
  margin-top: 20px;
}

.article input[type=checkbox]:checked ~ .card-body_show {
  display: block;
}
 input[type=checkbox]:checked ~ .card-body_show {
  display: block;
}
.card-actions button{
  margin-right: 5px;
}